
@keyframes showTemplate {
  0%   { opacity:1; }
  100% { opacity:1; }
}
@-o-keyframes showTemplate{
  0%   { opacity:1; }
  100% { opacity:1; }
}
@-moz-keyframes showTemplate{
  0%   { opacity:1; }
  100% { opacity:1; }
}
@-webkit-keyframes showTemplate{
  0%   { opacity:1; }
  100% { opacity:1; }
}

@keyframes fadeAnimation {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes fadeAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes fadeAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}

@keyframes shoot {
    0%   {top: 0px; right: 50%; opacity:1;}
    30%  {top: 50%; right: 80%; opacity:0; width:50px; height:50px;}
    100% {top: 50%; right: 80%; opacity:0; width:50px; height:50px;}
}
@-o-keyframes shoot{
  0%   {top: 0px; right: 50%; opacity:1;}
  30%  {top: 50%; right: 80%; opacity:0; width:50px; height:50px;}
  100% {top: 50%; right: 80%; opacity:0; width:50px; height:50px;}
}
@-moz-keyframes shoot{
  0%   {top: 0px; right: 50%; opacity:1;}
  30%  {top: 50%; right: 80%; opacity:0; width:50px; height:50px;}
  100% {top: 50%; right: 80%; opacity:0; width:50px; height:50px;}
}
@-webkit-keyframes shoot{
  0%   {top: 0px; right: 50%; opacity:1;}
  30%  {top: 50%; right: 80%; opacity:0; width:50px; height:50px;}
  100% {top: 50%; right: 80%; opacity:0; width:50px; height:50px;}
}
@-webkit-keyframes pulseIn {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 169, 79, 0.8);
    box-shadow: 0 0 0 0 rgba(255, 169, 79, 0.8);
  }
  100% {
      -moz-box-shadow: 0 0 2px 30px rgba(255, 169, 79, 0);
      box-shadow: 0 0 2px 30px rgba(255, 169, 79, 0);
  }
}
@keyframes pulseIn {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 169, 79, 0.8);
    box-shadow: 0 0 0 0 rgba(255, 169, 79, 0.8);
  }
  100% {
      -moz-box-shadow: 0 0 2px 30px rgba(255, 169, 79, 0);
      box-shadow: 0 0 2px 30px rgba(255, 169, 79, 0);
  }
}
@-webkit-keyframes pulseOut {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.8);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.8);
  }
  100% {
      -moz-box-shadow: 0 0 2px 50px rgba(204,169,44, 0);
      box-shadow: 0 0 2px 50px rgba(204,169,44, 0);
  }
}
@keyframes pulseOut {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.8);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.8);
  }
  100% {
      -moz-box-shadow: 0 0 2px 50px rgba(204,169,44, 0);
      box-shadow: 0 0 2px 50px rgba(204,169,44, 0);
  }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
    /*from {
      transform:rotate(0deg); background-image: url('images/github.png'); width:200px;height:200px;
      border-radius: 200px;
    }
    to {
      transform:rotate(360deg); background:#fff; width:500px; height:500px;
      border-radius: 10px;
      left:0;
      right:0;
      top:calc(50% - 250px);
    }*/
}
@-moz-keyframes typing {
  0% { width: 0; opacity: 0; }
  40% { width: 0; opacity: 1;}
  100% { width: 30%; opacity: 1;}
}
@-webkit-keyframes typing {
  0% { width: 0; opacity: 0; }
  40% { width: 0; opacity: 1;}
  100% { width: 30%; opacity: 1;}
}
@keyframes typing {
  0% { width: 0; opacity: 0; }
  40% { width: 0; opacity: 1;}
  100% { width: 30%; opacity: 1;}
}
@keyframes typingMobile {
  from { width: 0 }
  to { width: 70% }
}
@-moz-keyframes typingMobile {
  from { width: 0 }
  to { width: 70% }
}
@-webkit-keyframes typingMobile {
  from { width: 0 }
  to { width: 70% }
}
@-moz-keyframes rocketUp {
  0% { bottom: 10% }
  100% { bottom:120%}
}
@-webkit-keyframes rocketUp {
  0% { bottom: 10% }
  100% { bottom:120%}
}
@keyframes rocketUp {
  0% { bottom: 10% }
  100% { bottom:120%}
}
